#name
{
	font-family: Helvetica;
	font-size: 125%;
}
#CourseName
{
	font-family: Helvetica;
	font-size: 150%;
}
#SecondNavBar
{
	font-family: Helvetica;
	font-size: 110%;
}
#CourseTitle
{
	font-family: Helvetica;
	font-size: 175%;
}
#announcements
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bold;
}
#Week10
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bold;
}
#PostDate
{
	font-family: Helvetica;
}
#annpt1
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bold;
}
p
{
	font-family: Helvetica;
	font-size: 125%;
}
#UpdateTxt
{
	font-family: Helvetica;
	font-size: 125%;
}
#Ulinks
{
	font-family: Helvetica;
	font-size: 125%;
}
#classes
{
	font-family: Helvetica;
	font-size: 75%;
}
#messages
{
	font-family: Helvetica;
	font-size: 100%;	
}
#discussionsdropdown
{
	font-family: Helvetica;
	font-size: 75%;		
}
#notificationsdropdown
{
	font-family: Helvetica;
	font-size: 75%;		
}
#userdropdown
{
	font-family: Helvetica;
	font-size: 75%;
}
#settingscontent1
{
	font-family: Helvetica;
	font-size: 100%;
}
#settingscontent2
{
	font-family: Helvetica;
	font-size: 100%;	
}
#indent2
{
	font-family: Helvetica;
	font-size: 90%;	
}
#LinksContent
{
	font-family: Helvetica;
}