#name
{
	font-family: Helvetica;
	font-size: 125%;
}
#SecondNavBar
{
	font-family: Helvetica;
	font-size: 125%;
}
#resource
{
	font-size: 130%;
}
#announce
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bold;
}
#ZeroAnnouncements
{
	font-family: Helvetica;
	font-size: 125%;
}
#AllCourses
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bold;
}
#Spring2023
{
	font-family: Helvetica;
	font-size: 125%;
}
#CourseName
{
	font-family: Helvetica;
	font-size: 125%;
}
#CourseDetails
{
	font-family: Helvetica;
	color: grey;
}
#EndDate
{
	font-family: Helvetica;
	color: grey;	
}
#FindHelp
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bold;
}
#supp
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bold;
}
#questions
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bold;
}
#dates
{
	font-family: Helvetica;
	font-size: 125%;
}
#resources
{
	font-family: Helvetica;
	font-size: 100%;
}
#classes
{
	font-family: Helvetica;
	font-size: 100%;
}
#messages
{
	font-family: Helvetica;
	font-size: 100%;	
}
#discussionsdropdown
{
	font-family: Helvetica;
	font-size: 100%;		
}
#notificationsdropdown
{
	font-family: Helvetica;
	font-size: 100%;		
}
#userdropdown
{
	font-family: Helvetica;
	font-size: 100%;
}
#settingscontent1
{
	font-family: Helvetica;
	font-size: 100%;
}
#settingscontent2
{
	font-family: Helvetica;
	font-size: 100%;	
}
#HideContent
{
	font-family: Helvetica;
	font-size: 125%;
	font-weight: bolder;
}
#AppearContent1_1
{
	font-family: Helvetica;
	font-size: 125%;
}
#AppearContent2_1
{
	font-family: Helvetica;
	font-size: 125%;
}
#DissapearContent2
{
	font-family: Helvetica;
	font-size: 125%;
}
#DissappearContent4
{
	font-family: Helvetica;
	font-size: 125%;
}
footer
{
	font-family: Helvetica;
}